/////////////////////////////////
// Global Elements /////////////
///////////////////////////////

body {
  font-family: 'PT Serif', serif;
}

img {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
