@import "partials/variables";
@import "partials/navigation";
@import "partials/forms";
@import "partials/buttons";

/////////////////////////////////
// Global Elements /////////////
///////////////////////////////

body {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 700;
  color: $font-grey;
  padding: 10px 0;
}

h4 {
  color: white;
  font-size: 5rem;
}

h5 {
  text-transform: uppercase;
  font-size: 2rem;
  color: $font-grey;
}

h6 {
  color: white;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

section:nth-child(1) {
  background-color: $primary-color;
}
.newsline {
  background-color: $accent-color;
  border: 1px solid lightgray;
}

/////////////////////////////////
/////// HERO SECTION ///////////
///////////////////////////////

section:nth-child(2) {
  background-image: url("../images/home-hero.jpg");
  background-size: cover;
  height: 500px;
}

.heroText {
  padding-top: 250px;
}

/////////////////////////////////
/////// INFO SECTION + COURSES /
///////////////////////////////
.courseInfo {
  padding: 25px 5px;
}

.courseOffered {
  background-color: $accent-color;
  text-align: center;

  .container {
    padding: 25px 115px;
  }
}

.course {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
}

.frontEnd {
  color: rgb(206,131,45);
}
.backEnd {
  color: rgb(184,88,76);
}
.mobile {
  color: rgb(211,180,43);
}
.interface {
  color: rgb(53,160,173);
}
.courseIcons img {
  width: 50%;
  padding-bottom: 10px;
}

/////////////////////////////////
///////WHAT OUR STUDENTS SAY ///
///////////////////////////////
.students {
  padding: 25px 0;

  .four:nth-child(n+2){
    text-align: center;

    .details {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid orange;
    margin-top: 25px;
  }
}

.quoteName {
  color: $font-grey;
  font-weight: 700;
  margin-bottom: 10px;
}

.details {
  color: $font-grey;
  font-weight: normal;
}

.name {
  color: $secondary-color;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

.jobDescription {
  color: $font-grey;
  font-size: 2rem;
  margin: 0;
}

/////////////////////////////////
/////// EMPLOYERS SECTION ///////
///////////////////////////////
.employers {
  width: 100%;
  background-image: url("../images/employers-image.jpg");
  background-size: cover;

  .container {
    padding: 25px 125px;
    text-align: center;

    .row {
      color: white;

      h3 {
        color: white;
      }

      button {
        margin-top: 50px;
      }
    }

    img {
      width: 75%;
    }
  }
}
/////////////////////////////////

.letsTalk {
  padding: 25px 0;
}

footer {
  height: 50px;
  background-color: $primary-color;
}

@import "partials/mediaQueries";
