/////////////////////////////////
/////// Navigation /////////////
///////////////////////////////

ul {
  display: inline-block;
  margin-bottom: 0;

  li {
    display: inline-block;
    margin: 5px;

    a {
      text-decoration: none;
      color: white;
    }

    a:hover {
      color: $font-grey;
    }
  }
}

.navLeft{
  float: left;
  margin-left: 0;

  li {
    position: relative;
    bottom: 10px;

    a {
      font-size: 1.5rem;
    }

    a:hover {
      padding-bottom: 5px;
      border-bottom: 2px solid $secondary-color;
    }

    img {
      position: relative;
      top: 16px;
    }
  }
}

.navRight {
  float: right;
  margin-right: 0;

  li {

    a {
      font-size: 1.15rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

/////// Footer /////////////
footer {
  padding: 25px 0;
  li {
    color: white;
    text-transform: uppercase;
    line-height: 1.6;
    display: block;
    a {
      font-size: 1.15rem;
      color: $font-grey;
      text-transform: none;
    }
    a:hover {
      padding-bottom: 3px;
      border-bottom: 2px solid $font-grey;
    }
    p {
      margin: 10px 0 0;
      padding: 0;
    }
  }
}
footer .columns:nth-child(3) {
  a {
    color: white;
    text-transform: uppercase;
    font-size: 1.35rem;
  }
}

.footerRight {
  text-align: right;
   img {
     width: 15%;
   }
   p {
     margin: 0;
     font-size: 1.15rem;
     color: $font-grey;
   }
   a {
     color: $font-grey;
     text-decoration: none;
   }
 }
///////////////////////////////
